garage==2021.3.0
mujoco_py==2.1.2.14
gym==0.21.0
ipdb==0.13.9
recsim==0.2.4
wandb==0.12.14
moviepy==1.0.3
git+https://github.com/Farama-Foundation/Metaworld.git@04be337a12305e393c0caf0cbf5ec7755c7c8feb
git+https://github.com/rail-berkeley/d4rl@master#egg=d4rl
pathos==0.2.8
funcsigs==1.0.2
importlib-metadata<5.0
protobuf==3.20.3
setuptools==65.5.0
wheel==0.38.0
cython<3